form {
    padding: 20px;
    margin: 80px;
    position: relative;
    top: 170px;
}

Button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2rem;
}