.items-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quantity-button {
    display: block;
    margin: 10px;
    height: 30px;
    width: 15px;
}

.quantityButtons {
    display: flex;
    flex-direction: row;
}

Button {
    margin: 10px;
}

.red {
    margin: 10px;
    height: 30px;
    width: 10px;
}